@charset "UTF-8";
body{
    background-color: #dfeaf3;
     font-family: "Karla", sans-serif;
}
main{
    margin: auto;
    width: 300px;
}
header{
  background-color: #ffffff;  
  padding: 28px;
}
h1{
    color: #5ebcb5;
    padding: 1px;
    margin: 1px;
    font-size: 18px
}
#one{
    color: hsl(71, 73%, 54%);
    font-size: 14px;
    font-weight: 600;
    padding-block: 10px;
    margin: 1px;
}
p{
    color: #b7bcc0;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    margin: 1px;
}
div{
    background-color: #2bb3b1;
    padding: 25px;
    
}
#d1{
    p{
        color: white;
        strong{
            filter: opacity(50%);
            font-weight: 400;
            padding: 5px;
        }
    }
}
.line{
    filter: opacity(70%);
}
.valor{
    display: flex;
    align-items: center;
}
h2{
    color: #ffffff;
    margin: 0px;
    font-size: 15px;
}
span{
    font-size: 25px;
    color: #ffffff;
     padding: 10px; 
}
#button{
    background-color: #bfdf32;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px ;
    
}